@font-face {
    font-family: Comfortaa;
    src: url(Comfortaa-Regular.ttf);
}

@font-face {
    font-family: Comfortaa;
    src: url(Comfortaa-Bold.ttf);
    font-weight: bold;
}

html, body {
    overflow: hidden;
}
body {
    position: relative;
}